---
layout: default
title: ADTransitionController
github: ADTransitionController
subtitle: Drop-in replacement for UINavigationController with custom transition animations.
---
{% capture using_template %}{% include using.md %}{% endcapture %}
{% capture license_template %}{% include license.md %}{% endcapture %}
{% capture download_template %}{% include download.md %}{% endcapture %}
<div id="content" class="centered">
  <div id="header">
    <a class="logo" href="http://applidium.com"><img alt="logo" src="images/applidium_logo.png" width="51" height="24"></a>
    <h1 class="title"><a href="/">{{ site.name }}</a></h1>
    <ul class="section_links">
      {% unless using_template == empty %}
      <li><a href="#how_to_use">How to use</a></li>
      {% endunless %}
      {% unless download_template == empty %}
      <li><a href="#download">Download</a></li>
      {% endunless %}
      {% unless license_template == empty %}
      <li><a href="#license">License</a></li>
      {% endunless %}
    </ul>
  </div>
  <div id="container">
    <div id="home">
      <div id="media">
        <div class="iphoneWrapper">
          <div class="iphone">
            <img src="images/iphone.png" alt="" width="309" height="641" />
          </div>
          <iframe src="http://player.vimeo.com/video/70406173?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=1&amp;loop=1" width="257" height="455" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
      <div id="intro">
        <div class="subtitle">{{ page.subtitle }}</div>
        <ul class="buttons">
          <li>
            <a href="https://github.com/applidium/{{ page.github }}/archive/master.zip" class="downloadButton">Download Now!</a>
          </li>
          <li>
            <a href="https://github.com/applidium/{{ page.github }}" class="githubButton">GitHub Repository</a>
          </li>
        </ul>
      </div>
      {% unless using_template == empty %}
      <h1 id="how_to_use" class="section_title">How to use</h1>
      <div class="section">
        {{ using_template | markdownify }}
      </div>
      {% endunless %}

      {% unless download_template == empty %}
      <h1 id="download" class="section_title">Download</h1>
      <div class="section">
        <div class="download">{{ download_template | markdownify }}</div>
        <ul class="buttons">
          <li>
            <a href="https://github.com/applidium/{{ page.github }}/archive/master.zip" class="downloadButton">Download Now!</a>
          </li>
          <li>
            <a href="https://github.com/applidium/{{ page.github }}" class="githubButton">GitHub Repository</a>
          </li>
        </ul>
      </div>
      {% endunless %}

      {% unless license_template == empty %}
      <h1 id="license" class="section_title">License</h1>
      <div class="section license">
       {{ license_template | markdownify }}
     </div>
     {% endunless %}
   </div>
 </div>
